<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QuickstartApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>33926DB01DF5D4D700D27C22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33926DC41DF5D4D700D27C22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33926DCF1DF5D4D700D27C22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
